<div class="ab px-[40px] border-b md:flex items-center hidden">
  <div class="md:w-1/2 text-center md:text-start text-[#444] text-[14px] py-[10px]">
    <p>We are open with limited hours and staff.</p>
  </div>
  <div class="w-1/2 text-[13px] font-medium ab_action">
    <ul class="flex gap-3 justify-end relative">
      <li class="border-r pr-4 currency_switcher">
        USD
        <i class="fa-solid fa-chevron-down relative top-[-1px] ml-1"></i>
        <ul class="currency_list absolute w-[200px] bg-white px-4 py-5 rounded-md font-semibold">
          <li class="mb-2 text-[#444] hover:text-[#e52e06] transition-all duration-500">USD - Doller</li>
          <li class="mb-2 text-[#444] hover:text-[#e52e06] transition-all duration-500">USD - Doller</li>
          <li class="mb-2 text-[#444] hover:text-[#e52e06] transition-all duration-500">USD - Doller</li>
        </ul>
      </li>
      <li class="border-r pr-4">
        <a href="https://www.google.com/maps">
          <i class="fa-solid fa-location-arrow mr-1"></i>
          Store location</a
        >
      </li>
      <li class="">
        <a href="tel:+"> <i class="fa-solid fa-phone-volume mr-1"></i> (08)123 456 7890</a>
      </li>
    </ul>
  </div>
</div>
