<footer class="px-[25px] py-[50px] bg-[#1C1B1B] flex flex-col md:flex-row gap-1 text-white">
  <div class="w-full md:w-[30%] py-4 pl-0 pr-[40px]">
    <a href="" class="logo">
      <img
        height="auto"
        width="auto"
        class="max-w-[150px]"
        src="https://drou-electronics-store.myshopify.com/cdn/shop/files/logo_copy_large.png"
        alt=""
      >
    </a>
    <p class="mt-6 text-white text-[14px] text-justify">
      Lorem, ipsum dolor sit amet consectetur adipisicing elit. Velit iusto ea obcaecati vel magni perferendis excepturi
      a esse, sint blanditiis. Impedit earum assumenda, porro nesciunt praesentium temporibus dolorum placeat amet!
    </p>
  </div>
  <div class="w-full md:w-[20%] p-4">
    <h3 class="menu_title font-bold text-[20px] capitalize">Information</h3>
    <ul class="mt-6">
      <li class="mb-2">
        <a
          href=""
          class="capitalize text-[15px] hover:text-[#e52e06] duration-300 transition-all"
          >menu 1</a
        >
      </li>
      <li class="mb-2">
        <a
          href=""
          class="capitalize text-[15px] hover:text-[#e52e06] duration-300 transition-all"
          >menu 1</a
        >
      </li>
      <li class="mb-2">
        <a
          href=""
          class="capitalize text-[15px] hover:text-[#e52e06] duration-300 transition-all"
          >menu 1</a
        >
      </li>
      <li class="mb-2">
        <a
          href=""
          class="capitalize text-[15px] hover:text-[#e52e06] duration-300 transition-all"
          >menu 1</a
        >
      </li>
    </ul>
  </div>
  <div class="w-full md:w-[20%] p-4">
    <h3 class="menu_title font-bold text-[20px] capitalize">Store Policy</h3>
    <ul class="mt-6">
      <li class="mb-2">
        <a
          href=""
          class="capitalize text-[15px] hover:text-[#e52e06] duration-300 transition-all"
          >menu 1</a
        >
      </li>
      <li class="mb-2">
        <a
          href=""
          class="capitalize text-[15px] hover:text-[#e52e06] duration-300 transition-all"
          >menu 1</a
        >
      </li>
      <li class="mb-2">
        <a
          href=""
          class="capitalize text-[15px] hover:text-[#e52e06] duration-300 transition-all"
          >menu 1</a
        >
      </li>
      <li class="mb-2">
        <a
          href=""
          class="capitalize text-[15px] hover:text-[#e52e06] duration-300 transition-all"
          >menu 1</a
        >
      </li>
    </ul>
  </div>
  <div class="w-full md:w-[30%] p-4">
    <h3 class="menu_title font-bold text-[20px]">Sign Up for Latest News</h3>
    <form action="#" class="space-y-4 mt-6">
      <div>
        <input
          placeholder="Type your email"
          type="email"
          id="email"
          name="email"
          required
          class="mt-1 text-black block placeholder:italic w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-[#e52e06] focus:border-[#e52e06] h-[40px]"
        >
      </div>
      <div>
        <button
          type="submit"
          class="w-full font-semibold bg-[#e52e06] text-white py-2 px-4 rounded-md hover:bg-white hover:text-black duration-300 transition-all"
        >
          Subscribe
        </button>
      </div>
    </form>
    <p class=" italic text-[12px] mt-2">N.B: Your email is secure to us</p>
  </div>
</footer>
